body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
}

.container {
    width: 400px;
    margin: 80px auto;
    padding: 20px;
    background: #1e293b;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #38bdf8;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0ea5e9;
}
